@import './About.css';
@import './BookList.css';
@import './Details.css';

html {
  font-size: 16px;
  color: #3b1b04;
}

:root {
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;
}

.header {
  font-family: 'Urbanist', sans-serif;
  background-color: #fff021ce;
  height: auto;
  font-size: 3.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .2rem solid rgba(173, 172, 172, 0.74);
}

.heading {
  width: 60vw;
  height: 100%;
  padding: var(--spacing-xs);
  display: flex;
  justify-content: start;
  align-items:start;
}

.navbar {
  margin: var(--spacing-xs) auto;
  font-family: 'Urbanist', sans-serif;
  padding: var(--spacing-xs);
  align-items: center; /* Added */
}

.links {
  padding: var(--spacing-xs);
  font-size: 2.5rem; 
  text-decoration: none;
  margin: 0 var(--spacing-lg);
}

.links:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.main-container {
  margin: var(--spacing-sm) auto;
  min-height: 65vh;
}

footer {
  background-color: #fff345a4;
  height: 10vh;
  padding: var(--spacing-xs);
  font-size: 1.5rem; 
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  .header {
    height: auto;
    flex-direction: column; 
    font-size: 2.5rem;
    padding: 0;
  }

  .heading {
    width: auto; 
    justify-content: center; 
    align-items: center; 
    border-bottom: .2rem solid rgba(173, 172, 172, 0.74);
  }

  footer{
    font-size: 1rem;
    font-weight: normal;
  }

  .navbar {
    font-family: 'Urbanist', sans-serif;
    font-weight: lighter;
    display: flex; 
    align-items: center; 
  }

  .links {
    font-size: 1.3rem;
  }
}


a{
  color: black;
}