*{
  box-sizing: border-box;
  font-family: 'Montserrat';
  margin: 0;
}
body {
  background-image: url('./utilities/wave-haikei.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}
